//colors
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$purple: #8357c5;
//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

html {
  font-size: 62.5%;
}

body {
  background: $dark-blue;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $m-size;
}

.header {
  background: $off-black;
  color: white;
  margin-bottom: $m-size;
  padding: $m-size 0;
}

.header__title {
  font-size: $l-size;
  margin: 0;
}

.header__subTitle {
  color: $off-white;
  font-size: $m-size;
  font-weight: 500;
}

.big-button {
  background: $purple;
  border: none;
  border-bottom: .6rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  width: 100%;
  margin-bottom: $m-size;
  padding: 2.4rem;
}

.big-button:disabled {
  opacity: 0.5;
}

.button {
  background: $purple;
  border: none;
  border-bottom: .3rem solid darken($purple, 10%);
  color: white;
  font-weight: 500;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}

.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}

.widget__message {
  color: $off-white;
  text-align: center;
  margin: 0;
  padding: $l-size;
  border-bottom: 1px solid lighten($light-blue, 10%);
}

.widget-header {
  background: $blue;
  color: $off-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
}

.widget-header__title {
  margin: 0;
}

.option {
  display: flex;
  justify-content: space-between;
  padding: $m-size;
  border-bottom: 1px solid lighten($light-blue, 10%);
}

.option__text {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  word-break: break-all;
}

.add-option {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.add-option-error {
  color: $off-white;
  font-style: italic;
  padding: 0 $m-size;
  margin: $m-size 0 0 0;
}

.add-option__input {
  flex-grow: 1;
  color: $off-white;
  padding: $s-size;
  background: $dark-blue;
  border: none;
  border-bottom: .3rem solid darken($dark-blue, 10%);
  margin: 0 0 $s-size 0;
}

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: $light-blue;
  color: white;
  max-width: 30rem;
  outline: none;
  padding: $l-size;
  text-align: center;
}

.modal__title {
  margin: 0 0 $m-size 0;
}

.modal__body {
  margin: 0 0 $l-size 0;
  font-size: 2rem;
  font-weight: 300;
  word-break: break-all;
}

@media (min-width: $desktop-breakpoint){
  .add-option {
    flex-direction: row;
  }

  .add-option__input {
    margin: 0 $s-size 0 0;
  }

  .header {
    margin-bottom: $xl-size;
  }

  .big-button {
    margin-bottom: $xl-size;
  }
}